*{
    margin: 0 0;
    text-display: none;
}
img{
    width: 78px;
    height: 26px;
    margin: 56px 200px;
}
.sousuo{
    margin: -81px 286px;
    /*background: red;*/
    width: 250px;
}
.box{
    width: 187px;
    height: 14px;
    font-size: 12px;
}
.gaojisousuo{
    display: block;
    position: relative;
    left: -6px;
    float: right;
    float: right;
    margin: 61px 234px;
    background: #317EF3;
    height: 20px;

}
.quanjusousou{
        float: right;
    display: block;
    margin: -81px 171px;
    font-size: 12px;
    text-decoration: none;
    /* background: red; */
    border: 1px solid #317EF3;
    width: 57px;
    text-align: center;
    height: 17px;
    color: #317EF3;
}
.gaoji{
    margin: -75px 126px;
    float: right;
    font-size: 8px;
    color: #323232;
}